<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <section>
        <nav id="nav-left-side">
            <ul id="articles-names"></ul>
        </nav>
        <div id="articles-viewer">

        </div>
    </section>
</body>

</html>