<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre-Nós</a></li>
            </ul>
        </nav>
        <div>
            <a href="/logar">Logar</a>
            <a href="/registrar">Registrar</a>
        </div>
    </header>
</body>

</html>