<header>
    <nav>
        <a href="/inicio">Inicio</a>
        <a href="/artigos">Artigos</a>
    </nav>
    <div id="logoff">
        <i class="bi bi-box-arrow-right"></i>
        <p>Desconectar</p>
    </div>
</header>